*,*:before, *:after
{
  box-sizing: border-box;
}

/*global*/
html{
  font-size: 10px;
}

body{
  font-family: muli;
  font-size: 2rem;
  line-height: 1.5;
}


.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}



h4{
  font-size:2.2rem;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  text-decoration-color:#6D494F;
}

h5{
  font:2rem;
  padding-top:2rem;
  font-weight: bold;
}



/* header */


header a{
  color:#000;
  text-decoration:none;
  text-transform:uppercase;
}



header li{
  display:inline;
  float: left;
  font-size: 1rem;
  padding:0 1rem;
}

header #logo{
  float: left;
  margin-top:2.5rem;
}

.menu a:hover{
  color:#B76E79;
  font-weight: bold;
}

.menu{
  margin-top:3.4rem;
}

#contact-menu a{
  color: #B76E79;
  text-decoration: none;
}

#contact-menu button{
  background-color:#fff;
  border: .2rem solid #B76E79;
  margin-top:3rem;

}

ul{
  float: right;
}


/* hero unit*/

#intro h1{
  border-bottom: solid .5rem #6D494F;
  color:#002194;
  font-size: 2.4rem;
  margin: 0 auto;
  padding-top: 2.5rem;
  text-align:center;
}

#intro p{
  margin-bottom: 2rem;
}

#hero img{
  display: block;
  margin: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
  width: 80%;
}

/*intro*/

#intro span{
  color:#97676F;
}


/* specs */
#specs{
  background-image:url(../images/background.svg);
}

.flex-container {
  display:flex;
  flex-direction:column;
  margin: 2rem 0;
}

#specs img{
  display:block;
  width:5rem;
  margin:0 auto;
}

#specs h5{
  font-size: 2rem;
  padding-bottom: .5rem;
  text-align:center;
  text-transform: uppercase;
}

#specs p{
  font:1.6px;
  text-align: center;
  }

#spec1, #spec2, #spec3{
  padding:5rem 0;
}

/* Case Study Navigation */
#angel-menu{
  height: 0;
  visibility: hidden;
  width:0;
}

/* overview */
#overview {
padding: 5rem 0;
}

#overview img{
  display:block;
  margin: 0 auto;
  padding-top:1.5rem;
  width:40%;
}

#overview p{
  padding-top: 2rem;
  padding-bottom: 2rem;
}


#overview button{
  background-color:#97676F;
  border-radius: 3px;
  color:#fff;
  display: block;
  height:10%;
  margin: 0 auto;
  padding:1rem;
  text-transform: uppercase;
  width:20rem;
}



/* Discovery */
#discovery{
  background-color:#F2F3F4;
  padding: 5rem 0;
}

#discovery img{
  display: block;
  margin: 0 auto;
  padding-bottom: 4rem;
}

#discovery .solution{
  margin: 0 auto;
}

#solutions{
  padding-bottom: 5rem;
}

.solution span{
  background: #B4E1FF;
  border-radius: 50%;
  height:3rem;
  margin: 5rem 0;
  padding:2rem;
  width:3rem;

}


/* Research */
#research{
  padding: 5rem 0;
  }


#results{
  align-items: center;
  padding-right: 1rem;
  width: 90%;
}



#research .survey-results{
  display: block;
  margin: 0 auto;
  padding-top:2rem;
  padding-bottom: 2rem;
}

#research a{
  font-size: 1rem;
  text-align: center;
}


/* Info Architecture */
#ia{
  background-color:#F2F3F4;
  padding: 5rem 0;
}

#ia img{
  padding:2rem 0;
  width:100%;
}

#ia a{
  font-size:1rem;
  text-align: center;
}



/* Visual Design */
#visual{
  padding: 5rem 0;
}

#visual img{
  margin: 0 auto;
  padding: 2rem 0;
  overflow: hidden;
  width:100%;

}

#visual a{
  font-size:1rem;
  text-align: center;
}




/* Conclusion */
#conclusion{
  background-color:#F2F3F4;
  padding: 5rem 0;
}

#conclusion p{
  padding-top:1rem;
}



/* Footer */


#myFooter .footer-copyright{
	padding-top:3px;
	padding-bottom:3px;
	text-align: center;
}

#myFooter .footer-copyright p{
  font-size: 1rem;
  margin-bottom: 1rem;
}

#myFooter ul{
	list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}


#myFooter a{
	color:#d2d1d1;
	text-decoration: none;
}

#myFooter a:hover, #myFooter a:focus{
	text-decoration: none;
	color:white;
}

#myFooter .myCols{
	text-align: center;
}

#myFooter .social-networks{
	padding-top: 3rem;
  padding-bottom: 2rem;
  text-align: center;
}

#myFooter .social-networks a{
    font-size: 2rem;
    margin-right: 5px;
    margin-left: 5px;
    color: #97676F;
    padding: .2rem;
    transition: 0.2s;
}

#myFooter .social-networks a:hover{
	text-decoration: none;

}

#myFooter .linkedin:hover{
	color:#0077b5;
}

#myFooter .twitter:hover{
	color:#00aced;
}

#myFooter .github:hover{
	color: #333;
}

}



    /*TABLET */
@media screen and (min-width: 575px){

  /* Header */
  #logo img{
     width:3.5rem;
   }


   header a{
     font-size:1.2rem;
   }

   #contact-menu a{
     font-size: 1.2rem;
   }

   #contact-menu button a:hover{
     font-weight: bold;
   }

/* intro */
  #angel-menu{
    visibility: hidden;
  }


    #intro p{
      margin:0 auto;
      width:80%;
    }

}

/* specs */

#spec1, #spec2, #spec3{
    margin: 0 auto;
    width:40%;
  }

/* angel-menu  */

  #angel-menu{
    visibility: hidden;
  }

  /* overview */

  #overview img{
    width:30%;
  }

  #overview p{
    margin: 0 auto;
    width: 80%;
  }


  /* Discovery & Research */

  #problem #solutions #research{
    margin:0 auto;
    width:80%;
    }


    /* Research */


  #research img{
    padding:0;
    }

  #research .survey-results{
    display:grid;
    grid-gap: 2rem;
    grid-template-columns: 6fr 6fr;
    grid-template-areas:
    "result 1"
    "result 2"
    "result 3"
    "result 4";
    padding-top:4rem;
  }

  #research .SWOT{
    margin: 0 auto;
    padding:4rem 0;
  }



/* Information Architecture */

  #ia{
    padding: 5rem 0;
  }

  #ia .flex-container{
      align-items: flex-start;
      display: flex;
      flex-direction:row;
      padding: 0;
  }

  #ia img{
    padding:0 2rem;
  }

  #ia, #us, #uf, #sketches, #wireframes{
      flex: 1 1 50%;
    }

  #uf, #sketches{
  padding-right: 2rem;
    }
  #us, #wireframes{
    padding-left: 2rem;
  }


/* Visual Design */

  #visual{
    margin: 0 auto;
    width: 80%;
  }

  #visual #logo-sketches{
    align-items: flex-start;
    display:flex;
    flex-direction: row;
  }


  /* Conclusion */
  #conclusion p{
    margin: 0 auto;
    width: 80%;
  }




      /* DESKTOP */

@media screen and (min-width: 1200px){

  /* global */

  body{
  font-size: 2.4rem;
}

  #research a, #ia a, #visual a{
    font-size: 2rem;
  }

  /* Header */
  #logo img{
     width:4rem;
   }

  header li{
    padding: 0 2rem;
  }

  header a{
    font-size:1.5rem;
  }

  #contact-menu a{
    font-size: 1.5rem;
  }




  /* hero unit*/

  #intro h1{
    font-size: 4rem;
    padding-top: 5rem;
  }

  #intro p{
    margin:0 auto;
    padding-bottom: 5rem;
    width:50%;
  }

  #hero img{
    display: block;
    margin: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 40%;
  }


  /* specs */
  #specs .flex-container {
    align-items: flex-start;
    flex-direction:row;
    justify-content: center;
    margin: 0 auto;
    padding: 8rem 0;
    width:80%;
  }


  #specs p{
    font:1.8px;
    }


  #spec1, #spec2, #spec3{
      width:20%;
    }

  /* Angel Menu */

    #angel-menu{
      background-color:#6D494F;
      padding:2rem 0;
      width:100%;
      visibility: visible;
    }

    #angel-menu a{
      color:#ffffff;
      padding: 0 2rem;
      text-decoration:none;
      text-transform:uppercase;
    }
    #angel-menu a: hover{
      font-weight: bold;
    }

    #angel-menu ul{
      display:flex;
      flex-direction: row;
      font-size: 2rem;
      justify-content: space-evenly;
      margin:0 auto;
      text-align:center;

    }

  /* overview */

  #overview img{
    width:15%;
  }

  #overview p{
    margin: 0 auto;
    width: 60%;
  }



  /* Discovery */

  #problem, #solutions {
    width:60%;
  }


  #discovery .flex-container{
    display: flex;
    flex-direction:row;
    margin: 0 auto;
    width:80%;
  }

  .solution{
    margin: 0 auto;
    width: 70%;
  }

  #solutions{
    overflow: hidden;
    padding-bottom: 5rem;
    width:50rem;
  }



  /* Research */

    #research{
    margin:0 auto;
    width:60%;
  }


    #research img{
      padding:0;
  }

    #research .survey-results{
      display:grid;
      grid-gap: 2rem;
      grid-template-columns: 6fr 6fr;
      grid-template-areas:
      "result 1"
      "result 2"
      "result 3"
      "result 4";
      padding-top:4rem;
  }

  #research .SWOT{
    margin: 0 auto;
    padding:4rem 0;
  }


/* Information Architecture */

  #ia{
    padding: 5rem 0;
  }

  #ia .flex-container{
      align-items: flex-start;
      display: flex;
      flex-direction:row;
      padding: 0;
  }


    #ia img{
      padding:0 2rem;
  }

    #ia, #us, #uf, #sketches, #wireframes{
      flex: 1 1 50%;
  }

    #uf, #sketches{
      padding-right: 2rem;
  }
    #us, #wireframes{
      padding-left: 2rem;
  }




/* Visual Design */

  #visual{
    margin: 0 auto;
    width: 60%;
  }

  #visual #logo-sketches{
    align-items: flex-start;
    display:flex;
    flex-direction: row;
  }



  /* Conclusion */
  #conclusion p{
    margin: 0 auto;
    width: 60%;
  }


  /* Footer */
  #myFooter .social-networks {
    text-align: right;
  }

}
